body{
  overflow-y:auto;
}
#profile_nav li{
  padding-right:15px;
  cursor: pointer;
  font-size:18px;
  font-weight:bold;
  color: #777;
}
#profile_logout {
  color:var(--warn-col) !important;
}
.profile_div {
  display:grid;
  grid-column-gap: 40px;
  grid-template-columns: auto auto;
  width: 50rem;
  max-width: 100%;
  margin-left: 5rem;
  margin-bottom: 8rem;
}
.profile_div input {
  width:100%;
  font-size:1.2rem;
  background-color:white;
  border-radius:5px;
  border: 1px solid lightgray;
}
.profile_cmpnt {
  padding:8px 0;
  position:relative;
}
.full {
  grid-column-start: 1;
  grid-column-end: 3;
}
.pageTextTextarea {
  display: block;
  width:100%;
}
#saveChanges, #delAccount {
  font-size:18px;
  font-weight:bold;
  cursor: pointer;
}
#saveChanges {
  color:var(--success-dark);
}
.selected {
  color:#333 !important;;
}
#copyright_notice {
  position: fixed;
  bottom:0;
}
.success, .error{
  grid-column-start: 1;
  grid-column-end: 3;
}
#delUserPasswordCnt {
  position:fixed;
  width:100%;
  left:0;
  top:0;
  height:100%;
  background-color:rgba(255,255,255,0.9);
  z-index: 1000;
}
#delUserPasswordCnt .center{
  width:20rem;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-100%);
  display:block;
}
#delUserPasswordCnt .center h1{
  font-size:1.3rem;
  font-weight:bold;
}
#delUserPasswordCnt .center button{
  display:block;
  background-color:var(--warn-col);
  border:none;
  color:white;
  padding:5px 10px;
  border-radius:3px;
  margin-top:10px;
  font-weight:bold;
  cursor:pointer;
}
#delUserPasswordCnt .center a{
  cursor:pointer;
}
#newCompetition {
  grid-column-start: 1;
  grid-column-end: 3;
}
#Competitions .comp{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 1rem;
}
#Competitions .comp_head {
  padding:5px 10px;
  border-radius:8px 8px 0 0;
  cursor:pointer;
}
#Competitions .comp_edit {
  display:grid;
  grid-column-gap: 40px;
  grid-template-columns: auto auto;
  border-top: none;
  border-radius: 0 0 8px 8px;
  padding:10px 20px;
  position:relative;
}
#newCompetition {
  margin-bottom: 10px;
  border:none;
  background-color:var(--sec-col);
  color:white;
  border-radius: 0.2em;
  font-weight: bold;
  padding:0.2em 0.5em;
  display:inline-block;
  cursor:pointer;
  font-size: 1rem;
  margin-top: 8px;
}
#newCompetition:hover{
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.unit {
  position: absolute;
  transform:translateX(-200%);
}
.checkbox {
  cursor: pointer;
}
.comp_head {
  grid-column-start: 1;
  grid-column-end: 3;
}
.writtenSection, .handsOnSection{
  grid-column-start: 1;
  grid-column-end: 3;
  display:grid;
  grid-template-columns: auto auto;
  grid-column-gap: 40px;
}
.save {
  position: absolute;
  right:0;
  top:8px;
  border: none;
  color: green;
  font-size:1rem;
  cursor: pointer;
}
.saveWrittenAnswers {
  position:absolute;
  right:0;
  top:8px;
  color:green;
  width:3rem;
  cursor:pointer;
}
.writtenSectionAnswerList li{
  margin:10px 0;
}
.writtenSectionAnswerList input{
  width:38rem;
  border-radius:0;
  border: none;
  border-bottom: 1px solid lightgray;
  padding:2px 5px;
}
.writtenSectionAnswerList p {
  display:inline-block;
  margin-left:10px;
  width: 3rem;
}
.addWrittenQuestion {
  background-color:white;
  border: 1px solid lightgray;
  cursor:pointer;
  border-radius:3px;
  font-size:1rem;
  width: 100%;
  margin-top: 10px;
}
.writtenAnswerType {
  cursor:pointer;
}
.competitionSubgroup {
  border: 1px solid lightgray;
  padding: 1rem 1rem;
  border-radius: 3px;
}
button {
  cursor:pointer;
}
.handsOnProblemList .handsOn_probName{
  width:20rem;
}
.handsOnProblemList .handsOn_probIn, .handsOnProblemList .handsOn_probOut {
  border:none;
  padding:10px;
  font-size: 1rem;
}
.handsOnProblemList button {
  width:unset !important;
}
.handsOnSectionProblemCnt button {
  width: 100%;
}
.handsOnSectionProblemCnt .save {
  right: 1rem;
}
.competitionControl {
  float: right;
  padding: 0 0.5rem;
  cursor:pointer;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}
.deleteCompetition {
  background-color: var(--warn-col);
}
.publishCompetition {
  background-color: var(--prim-light);
}
.saveCompetition {
  background-color: green;
}
.viewCompetition {
  background-color:var(--sec-col);
}
.deleteProblem {
  height:1rem;
  margin-left:1rem;
  vertical-align: middle;
  cursor:pointer;
}
.kick, .leaveClass {
  color:var(--warn-col);
  cursor:pointer;
}
.kick {
  float:right;
}
.leaveClass{
  position:absolute;
  right:0;
  top:8px;
}
.classCodeInput {
  text-transform: uppercase;
}
.writtenSectionInstructions {
  width:100%;
}
#content {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index:0;
  display: flex;
  flex-flow: row;
}
#profile_nav_cnt {
  display: inline-block;
  width:30%;
  height: 100%;
  position: relative;
}
#profile_nav {
  margin-top:8rem;
  text-align: right;
  height:20rem;
  border-right: 1px solid lightgray;
}
#profile_cnt {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  flex-grow: 1;
  overflow: auto;
  padding-top: 8rem;
  padding-bottom: 4rem;
  box-sizing: border-box;
}
#delAccount {
  color:var(--warn-col) !important;
}
.helpSection {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 2rem;
}
.helpSection h2{
  font-weight: bold;
  margin-bottom: 5px;
}