#center{
    width:30em;
    margin:auto;
}
#center h1{
    font-weight:bold;
    font-family:var(--head-font);
    color:var(--prim-light);
}
#login-box *{
    display:inline-block;
}
#lowerHalf{
    background-color:white;
    width:100%;
    border:none;
}
#login-box{
    margin:auto;
    box-sizing: border-box;
    width:33em;
}
#login-box input, #codeCnt div input{
    display: block;
    height:2.5em;
    width:100%;
}
#login-box label{
    font-size: 1.2em;
    color:var(--head-col);
    font-weight:bold;
}
#login{
    background-color:var(--sec-col);
    color:white;
    border:none;
    font-weight:bold;
    padding:4px 10px 4px 10px;
    display:block;
    border-radius:5px;
    cursor:pointer;
    font-size:1.2em;

    margin:auto;
    margin-top:1em;
}
#login:hover{
    background-color:var(--sec-dark);
}
#regWrapper{
    display:block;
    padding-top:1.2em;
    text-align:center;
}
#regWrapper a{
    color: var(--sec-col);
}
.forbidden{
    padding:0;
}
#copyright_notice{
    position:fixed;
}
.error{
    margin-top:-20px;
}
#codeErrorBox .error{
    margin-top:0;
}
#code{
    padding:40px 0 !important;
}