body{
    overflow-y:visible;
    position:relative;
    z-index:-1000;
}
.tab{
    padding-left:2em;
}
#columns{
    position:relative;
    z-index: 1;
}
.column{
    width:40em;
    max-width:100%;
    margin:auto;
    padding-bottom:10em;
}
.column h1, .column .subtitle{
    text-align: center;
}
.column h1{
    padding-bottom:5px;
}
#upperHalf{
    list-style: none;
    background-color:white;
    padding:0;
    margin:0;
    font-size:1em;
    box-shadow: 0 10px 10px -9px rgba(0,0,0,0.1);
}
#upperHalf li{
    display:inline-block;
    padding:0.5em 1em;
    cursor: pointer;
    border-right:2px solid var(--light-gray);
}
#upperHalf li:hover{
    background-color:var(--light-gray);
}
#upperHalf #nav_compname{
    cursor:default;
    width:15em;
}
#upperHalf #nav_compname, #upperHalf #countdownCnt:hover{
    background-color:white;
}
#upperHalf #countdownCnt{
    cursor:default;
    border:none;
}
#scoreboardColumn table{
    width:100%;
}
#signUp{
    display:block;
    border:none;
    background-color:var(--sec-col);
    padding:0.5em 1em;
    border-radius:5px;
    font-weight:bold;
    color:white;
    cursor:pointer;
    margin:auto;
}
#signUp:hover{
    background-color: var(--sec-dark);
}
#countdownCnt * {
    display:inline-block;
}
#countdown{
    margin:0;
}
#signUpMsg{
    width:100%;
    text-align:center;
}
#frqColumn .head-row{
    display:flex;
    flex-flow:row;
}

#mcColumn .chngButton{
    margin:auto;
    margin-top:10px;
}

#mcColumn{
    width:32%;
}
#mcColumn ol{
    font-family: var(--mono);
}
#mcColumn .subtitle span{
    font-weight:bold;
}
#mcBegin{
    width:5em;
    text-align:center;
}
#mcTestTimer{
    text-align: center;
    padding-bottom:1em;
}
.mcColumn{
    display:inline-block;
    padding:0;
    font-size:1.2em;
}
.mcColumn:first-of-type{
    text-align:right;
}
.mcColumn:last-of-type{
    float:right;
    width:initial;
}
.mcColumn label{
    margin-right:2px;
}
.mcQuestion{
    list-style-position: inside;
}
.mcQuestion label {
    padding-left: 0.5em;
}
.mcQuestion input{
    cursor: pointer;
}
#frqSubmitHeader{
    font-family:var(--head-font);
    font-size:1.5em;
    color:var(--prim-light);
}
#frqProblem, #frqProblem * {
    cursor:pointer;
}
#frqTextfile{
    border:none;
    padding:0;
    cursor:pointer;
    margin-top:10px;
}
#frqSelection{
    box-sizing:border-box;
    width:50%;
    padding-right:1em;
}
#frqSelection, #frqProblems{
    display:inline-block;
}
#frqProblems{
    flex-grow:1;
}
#challenge-frq-row h1, #challenge-frq-row .subtitle{
    text-align:left;
}
#challenge-frq-row .subtitle{
    padding:0.5em 0;
}
#challenge-frq-row .chngButton{
    margin:10px 0 0 0;
}
.running-frq h1{
    font-size:2rem;
    text-align:left;
}
.running-frq #frqProblems{
    padding-left:1em;
}
.probSum{
    background-color:var(--sec-col);
}
.testSum{
    background-color:var(--prim-light);
}
.numScore{
    cursor:auto !important;
    padding-left:10px;
    margin-top:-37px;
}